/* Estilo general del cuerpo */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #003eaa, #ff2d55);
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

/* Títulos generales */
h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Estilo del formulario */
form {
    background-color: #ffffff;
    color: #333333;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
}


/* Etiquetas */
label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Inputs y select */
input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

/* Radio buttons */
input[type="radio"] {
    margin-right: 5px;
}

/* Texto adicional */
p {
    font-size: 12px;
    color: #555555;
    margin-bottom: 15px;
}

/* Botón */
button {
    width: 100%;
    background-color: #003eaa;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff2d55;
}

.CENTER {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    
    
}
